
@media only screen and (min-width: 320px) {

.logo{

	right:7%; 
}
.logoo-login{

}
.logoo{

}
.email_input{
	width:80%;
	padding:2%; 
}
.senha_input{
	width:80%;
	padding:2%; 
}
.senha_text_2{
	right:7%; 
  	
}
.senhaP{
   left:8%;
}
.estado_input{
	width:80%;
	padding:2%;
}
.cidade_input{
	width:80%;
	padding:2%; 
}
.telefone_input{
	width:80%;
	padding:2%;  
}
.nome_textt{
position:relative;
margin-left:-50%; 
}
.error_nome{
	color: red;
}

.nome_input{
	width:80%;
	padding:2%;
}
.idade_textt{
position:relative;
margin-left:-50%; 
}
.error_idade{
   color:red;
}
.idade_input{
	width:100%;
	padding:3%;  
}
.submitt{
	margin-top:3%;
	margin-left:9%;  
}

}
@media only screen and (min-width: 400px){
.logoo-login{
margin-left:15%;
color:red;
}	
	
}
@media only screen and (min-width: 500px) {

.logoo{
margin-top:1%;
margin-left:5%;
position:relative;	
}
.logoo-login{
margin-left:15%;
color:pink;
}.cadastroo-cadastro{
margin-left:5%;
color:red; 
}
.form{
margin-top:1%; 
}

.error_nome{
margin-top:2%; 	
}
.senhaP{
   left:8%;
   color:blue;
}
.idade_textt{
margin-top:5%; 	
}
.error_idade{
margin-top: 2%;
}
.idade_input{
	width:80%;
	padding:2%;  
}
.submit{
	position:relative;
	margin-top: 3%;
	margin-right:40%;
	width:20%; 

}
.submitt{
width:20%;
cursor:pointer;
margin-left:2%; 
}
}
@media only screen and (min-width:550px){
.logoo-login{
margin-left:15%;
color:blue;
}	
.cadastroo-cadastro{
margin-left:7%; 
color:blue;
}	
.submitt{
margin-left:11%;

}
}
@media only screen and (min-width: 600px) {
.logoo-login{
margin-left:15%;
color:red;
}

}
@media only screen and (min-width: 650px) {
.logoo-login{
margin-left:15%;
}

.senhaP{
	color:yellow;
	left:8%;
}

}
@media only screen and (min-width: 800px) {

.logoo{
margin-top:1%;
margin-left:7%;
position: relative;  
}
.email_input{
	width:80%;
	padding:1%;  
}
.senha_input{
width:80%;
	padding:1%;
}
.nome_input{
width:80%;
	padding:1%; 
}

.estado_input{
width:80%;
	padding:1%;
}
.cidade_input{
	width:80%;
	padding:1%;
}
.telefone_input{
width:80%;
	padding:1%;   
}
.senhaP{
	left:8%;
   color:black;
}
.submit{
	position:relative;
	margin-top: 2%;
	margin-left:5%;
	max-width:100%; 	
}
.submitt{
width:90%;
cursor:pointer; 
margin-left:5%; 
}
}
@media only screen and (min-width: 850px) {
.senhaP{
	left:8%;
   color:red;
}
}
@media only screen and (min-width: 850px) {
.senha_text_2{
	right:4%;
}
.senhaP{
  left:6%;
}

}