*{
border:none;	
    outline: 0;

}
.logo{
margin-top:2%;
margin-left:40%;
position:relative;	
}
.form{
margin-top:-5%;
width:50%;
margin-left:20%;
padding:8%; 

}
input {
    
	margin-right:-7%;
	border: 2px solid black;
 border-radius: 10px;
 display: inline-block;
 padding:1%;
 font-size:100%;
 margin-top:2%;
 margin-bottom:1%;
 width:50%;
}


.nome_text{
  margin-left:35%; 
}

.error_nome{
	margin-left :0%;
	color:red;
}

.idade_text{
	margin-left: 35%;
}
.error_idade{
    margin-left:5%; 
    color:red;
}
.email_text{
	margin-left:35%; 
}
.error_email{
	color: red;
}
.senha_text{
	margin-left:35%; 
}
.error_senha{
	color:red;
}
.senha_text_2{
	margin-left:35%;
}

.error_senha_2{
	color:red;
}

.estado_text{
	margin-left:35%; 
}
.error_estado{
	color:red;
}
.cidade_text{
	margin-left:35%; 
}
.error_cidade{
	color:red;
}
.telefone_text{
	margin-left:35%; 
}
.error_telefone{
	color:red;
}
.submit{
border-radius:5px;
width:80%; 
margin-left:8%;
cursor:pointer;
width:100%; 
}
.submitt{
	width:50%; 
	padding:2%;
	background-color:#ADD8E6;
	font-family:"Gill Sans", sans-serif	 !important; 
}
.submitt:hover{
	cursor:pointer;
	background:-webkit-gradient(linear,left,top,bottom,color-stop(0.5, #87CEEB), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#87CEEB;
    text-align:center;
    color:#fff;
  }

/*.submitt:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;cursor:pointer;
}*/