*{
margin:0;
padding:0;
list-style:none;
font-family:"sans-serif",arial,Helvetica !important;
position:relative;
}
@media only screen and (min-width: 320px) {

.logo{
}
.logoo-login{
	margin-top:1%;
	margin-left:8%; 
}
.logoo{
margin-top:1%;
margin-left:1%;  
}
.email_input{
	width:80%;
	padding:2%; 
}
.senha_input{
	width:80%;
	padding:2%; 
}
.estado_input{
	width:80%;
	padding:2%;
}
.cidade_input{
	width:80%;
	padding:2%; 
}
.telefone_input{
	width:80%;
	padding:2%;  
}
.nome_textt{
position:relative;
margin-left:-50%; 
}
.error_nome{
	color: red;
}

.nome_input{
	width:80%;
	padding:2%;
}
.idade_textt{
position:relative;
margin-left:-50%; 
}
.error_idade{
   color:red;
}
.idade_input{
	width:100%;
	padding:3%;  
}
.submitt{
	margin-top:3%;
	margin-left:9%;  
}

}
@media only screen and (min-width: 500px) {

.logoo{
margin-top:1%;
margin-left:5%;
position:relative;	
}
.form{
margin-top:1%; 
}

.error_nome{
margin-top:2%; 	
}

.idade_textt{
margin-top:5%; 	
}
.error_idade{
margin-top: 2%;
}
.idade_input{
	width:80%;
	padding:2%;  
}
.submit{
	position:relative;
	margin-top: 3%;
	margin-right:50%;
	width:20%; 

}
.submitt{
width:20%;
cursor:pointer;
margin-left:2%; 
}
}
@media only screen and (min-width: 800px) {

.logoo{
margin-top:1%;
margin-left:7%;
position: relative;  
}
.email_input{
	width:80%;
	padding:1%;  
}
.senha_input{
width:80%;
	padding:1%;
}
.nome_input{
width:80%;
	padding:1%; 
}
.estado_input{
width:80%;
	padding:1%;
}
.cidade_input{
	width:80%;
	padding:1%;
}
.telefone_input{
width:80%;
	padding:1%;   
}
.submit{
	position:relative;
	margin-top: 2%;
	margin-left:5%;
	max-width:100%; 	
}
.submitt{
width:90%;
cursor:pointer; 
margin-left:5%; 
}
}